{{!-- {{#each this}} --}}
<li class="movie-card">
  <img class="movie-card__poster film-image" src="https://image.tmdb.org/t/p/w500{{poster_path}}"
    onerror="this.onerror=null;this.src='https://ik.imagekit.io/s2fpg15d4rx/6681924_preview_zRAT1xpCD.png';"
    alt="{{original_title}}" id="{{id}}" data-source="https://image.tmdb.org/t/p/w500{{backdrop_path}}" />
  <h3 class="movie-card__title">{{title}}</h3>
  <div class="movie-card__info">

    <span class="movie-card__genre">{{genres}}</span>
    {{!-- {{#each genres}}{{name}} {{/each}} --}}
    <span class="movie-card__year">
      {{release_date}}
    </span>
    <span class="movie-card__rate vote vote-accent">
      {{vote_average}}
    </span>
  </div>
</li>

{{!-- {{/each}} --}}