
{{!-- {{#each this}} --}}
<li class="movie-card">
  <img class="movie-card__poster film-image" src="https://image.tmdb.org/t/p/w500{{poster_path}}" 
   onerror="this.onerror=null;this.src='https://ik.imagekit.io/s2fpg15d4rx/6681924_preview_zRAT1xpCD.png';" 
    alt="{{original_title}}" id="{{id}}" data-source="https://image.tmdb.org/t/p/w500{{backdrop_path}}" />
  <h3 class="movie-card__title">{{title}}</h3>
  <ul class="movie-card__info">

      <li class="movie-card__genre">{{#each genres}}{{name}} {{/each}}
    <li class="movie-card__year">
      {{release_date}}
    </li>
    <li class="movie-card__rate vote vote-accent">
      {{vote_average}}
    </li>
  </ul>
</li>

{{!-- {{/each}} --}}